.cardoa{
    width: 90%;
    max-width: 350px;
    height: 300px;
    padding:5rem 2.5rem;
    border-radius: 1rem;
    border:1px solid transparent;
    backdrop-filter:blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
    border-top-color:rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
    border-right-color:rgba(255,255,255,0.1);
    border-left-color:rgba(255,255,255,0.1);
    color:white;
    padding-top: 10px;
   
    
    
}

.cb1oa{
    background-color: rgba(255,255,255,0.1);
}
.cardoa:hover{
    scale:1.05;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btnoa{
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 2rem;
}
.btnoa:hover{
    box-shadow: 0,0.3rem 1rem rgba(0,0,0,0.3) ;
}
.card-bodyoa{
    margin-top:10px;
    
}
    
.difficulty{
    color: orange;
}
