.submission{

width: 100%;

    max-width: 1000px;
   height: 70px;
    display: flex;
    justify-content: center;
    border-radius: 1.5rem;
    border:1px solid transparent;
    backdrop-filter:blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.5);
    border-top-color:rgba(255,255,255,0.5);
    border-bottom-color:rgba(255,255,255,0.5);
    border-right-color:rgba(255,255,255,0.1);
    border-left-color:rgba(255,255,255,0.1);
    color:white;
    margin-bottom: 50px;
    background-color: rgba(255,255,255,0.1);
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: medium;
    overflow-y: auto;
    overflow-x: auto;
}
.subfeild{
margin-left: 20px;
margin-right: 20px;
display: flex;
}
@media (max-width:992px){
    .submission{
        margin-top: 250px;
    }
}

